<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.scott.serviceDiscovery"
        version="1.0.0">

  <name>serviceDiscovery</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/serviceDiscovery.js" target="js/serviceDiscovery.js"/>

  <js-module src="www/serviceDiscovery.js" name="serviceDiscovery">
    <clobbers target="serviceDiscovery" />
  </js-module>


  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ServiceDiscovery">
        <param name="android-package" value="com.scott.plugin.ServiceDiscovery"/>
      </feature>
    </config-file>

    <source-file src="src/android/ServiceDiscovery.java" target-dir="src/com/scott/plugin/"/>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="serviceDiscovery">
        <param name="ios-package" value="ServiceDiscovery" onload="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/ServiceDiscovery.h" />
    <source-file src="src/ios/ServiceDiscovery.m" />
  </platform>

</plugin>
